::ng-deep {
  html,
  body {
    margin: 0;
  }

  .content {
    padding-top: 60px;
    overflow: hidden;
  }
  .text__animation {
    overflow: hidden;

    .text__splitting-char {
      opacity: 0;
      transform: translate(0, 0) rotate(0) skew(0, 0) scale(1, 1);
      will-change: transform;
      transition-property: transform, opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: calc(var(--char-index) * 0.02s);
      transition-duration: 1000ms;
    }

    &.is-inview .text__splitting-char {
      transform: translate(0, 0) rotate(0) skew(0, 0) scale(1, 1);
      opacity: 1;
    }
  }
}
